# ======================
# API
fastapi==0.115.6
uvicorn[standard]==0.32.0
orjson==3.10.7

# ======================
# Core ML
scikit-learn==1.6.1
pandas==2.2.3
numpy==1.26.4
joblib==1.4.2

# ======================
# Dataset & Explication
openml==0.14.2
shap==0.45.1

# ======================
# (Optionnel) MLOps tracking
mlflow==2.14.0
